.plain {
  display: flex;
  place-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
}

.datetime {
  padding: 1rem 0;
}

.headline {
  margin: 0;
  font-size: 35px;
  line-height: 3rem;
  padding: 1rem 0;
}

.trailText {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.body {
  padding: 1rem 0;
}
.body > p {
  margin-top: 10px;
}
.body img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.body > figure {
  margin: 20px 0;
  padding: 0;
  width: 100%;
}
.body figure iframe {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}
.body figure figcaption {
  color: gray;
  font-size: 12.5px;
}

.figure {
  margin: 0;
  padding: 0;
  width: 100%;
}
.figure figcaption {
  color: gray;
  font-size: 12.5px;
}

.img {
  object-fit: contain;
}

@media only screen and (min-width: 768px) {
  .body figure iframe {
    width: 100%;
    max-height: 450px;
    object-fit: contain;
  }
}

@media only screen and (min-width: 1536px) {
  .wrapper {
    flex-direction: row;
    gap: 2rem;
  }

  .article {
    max-width: 60%;
  }

  .media {
    max-width: 40%;
    margin-top: 28%;
  }
}
