.figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
}

.figcaption {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 10px;
  background-color: rgba(30, 46, 121, 0.95);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.placeholder {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5rem;
  background-color: royalblue;
}

.webTitle {
  font-size: 20px;
  font-weight: bold;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  display: none;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
