.wrapper {
  background-color: var(--color-brand);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media only screen and (min-width: 1536px) {
  .container {
    padding: 2rem 0;
  }
}
